.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}

.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat center center/cover;
}

.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg) no-repeat center center/cover;
}

.destinations-items .item h3 {
  margin-top: 24px;
}

.destinations-items .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
}

/** BLOG **/

.blog.destinations .content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog.destinations .tokyo.content-container .arrival-container .text-container {
  flex: 1 1 312px;
}

.blog.destinations .tokyo.content-container .arrival-container .img-item {
  background: url(../img/blog/tokyo-store-mobile-tablet.jpg) no-repeat center
    center/cover;
  width: 312px;
  height: 360px;
  margin-top: 24px;
}

.blog.destinations .tokyo.content-container .accommodation-container .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat center center/cover;
  width: 312px;
  height: 300px;
  margin-top: 24px;
}

figure {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat center center/cover;
  }

  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat center center/cover;
  }

  .destinations .button {
    width: 280px;
  }

  /** BLOG **/

  .blog.destinations .tokyo.content-container .arrival-container {
    display: flex;
    gap: 24px;
  }

  .blog.destinations
    .tokyo.content-container
    .accommodation-container
    .img-item {
    background: url(../img/blog/tokyo-skyline-desktop.jpg) no-repeat center
      center/cover;
    width: 100%;
    height: 300px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .destinations .item .img-item {
    height: 452px;
  }
}
