.hero .hero-img,
.bottom-hero .hero-img {
  width: 100%;
  height: 400px;
}

.hero .hero-img {
  background: url(../img/img-hero-mobile.jpg) no-repeat center center/cover;
}

.bottom-hero .hero-img {
  background: url(../img/hero2-mobile.jpg) no-repeat center center/cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
}

/* BLOG, PACOTES DE VIAGENS E CONTATO */
.blog.hero,
.travel-packages.hero,
.contato.hero {
  margin-bottom: 88px;
}

.blog .hero-img {
  background: url(../img/blog/hero-traveler-mobile.jpg) no-repeat center
    center/cover;
  height: 460px;
}

.travel-packages .hero-img {
  background: url(../img/pacotes-de-viagens/hero-japan-mobile.jpg) no-repeat
    center center/cover;
  height: 460px;
}

.contato .hero-img {
  background: url(../img/contato/hero-contato-mobile.jpg) no-repeat center
    center/cover;
  height: 460px;
}

.blog .hero-content,
.travel-packages .hero-content,
.contato .hero-content {
  padding: 65px 24px;
}

.blog .hero-content p,
.travel-packages .hero-content p,
.contato .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

.travel-packages.bottom-hero .hero-img {
  background: url(../img/pacotes-de-viagens/bottom-hero-japan-mobile.jpg)
    no-repeat center center/cover;
  height: 400px;
}

.contato.bottom-hero .hero-img {
  background: url(../img/contato/bhero-contato-mobile.jpg) no-repeat center
    center/cover;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    width: 100%;
    height: 620px;
    background: url(../img/img-hero-tablet.jpg) no-repeat center center/cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/hero2-tablet.jpg) no-repeat center center/cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* BLOG, PACOTES DE VIAGENS E CONTATO */
  .blog .hero-img {
    background: url(../img/blog/hero-traveler-tablet.jpg) no-repeat center
      center/cover;
    height: 620px;
  }

  .travel-packages .hero-img {
    background: url(../img/pacotes-de-viagens/hero-japan-tablet.jpg) no-repeat
      center center/cover;
  }

  .contato .hero-img {
    background: url(../img/contato/hero-contato-tablet.jpg) no-repeat center
      center/cover;
  }

  .blog .hero-content,
  .travel-packages .hero-content,
  .contato .hero-content {
    padding: 158px 94px;
  }

  .blog .hero-content p,
  .travel-packages .hero-content p,
  .contato .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  .travel-packages.bottom-hero .hero-img {
    background: url(../img/pacotes-de-viagens/bottom-hero-japan-tablet.jpg)
      no-repeat center center/cover;
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    width: 100%;
    height: 620px;
    background: url(../img/img-hero-desktop.jpg) no-repeat center center/cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/hero2-desktop.jpg) no-repeat center center/cover;
    height: 600px;
  }

  .hero h2 {
    padding: 104px 120px;
  }

  /* BLOG E PACOTES DE VIAGENS */
  .blog .hero-img {
    background: url(../img/blog/hero-traveler-desktop.jpg) no-repeat center
      center/cover;
  }

  .travel-packages .hero-img {
    background: url(../img/pacotes-de-viagens/hero-japan-desktop.jpg) no-repeat
      center center/cover;
  }

  .contato .hero-img {
    background: url(../img/contato/hero-contato-desktop.jpg) no-repeat center
      center/cover;
  }

  .blog .hero-content,
  .travel-packages .hero-content,
  .contato .hero-content {
    padding: 180px 94px;
    margin: 0 auto;
  }

  .travel-packages.bottom-hero .hero-img {
    background: url(../img/pacotes-de-viagens/bottom-hero-japan-desktop.jpg)
      no-repeat center center/cover;
    height: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .blog.hero,
  .travel-packages.hero,
  .contato.hero {
    margin-bottom: 104px;
  }

  .blog .hero-content,
  .travel-packages .hero-content,
  .contato .hero-content {
    padding: 158px 120px;
    width: 1200px;
  }

  .blog .hero-content p,
  .travel-packages .hero-content p,
  .contato .hero-content p {
    width: 580px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 104px 160px;
  }
}
